body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff9a9e,#fad0c4);
    font-family:Arial;
}

.card{
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#ff4081;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.popup{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 30px rgba(0,0,0,0.3);
}

.hidden{
    display:none;
}